@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #d3faf1;
    background-image: 
        radial-gradient(at 47% 33%, hsl(180.00, 100%, 66%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
    min-height: 100vh;
  }
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
